<section>
    <!--cover-->
    <div class="cover">
        <div class="offset-6 col-6">
            <div class="container">
                <div class="cover-content">
                    <div>
                        <h2 style="font-family: 'Roboto+Condensed', sans-serif;">Our Vision</h2>
                        <p style="font-family: 'Roboto+Condensed', sans-serif;">To realize a stable and secure Real
                            Estate industry</p>
                    </div>
                    <div>
                        <h2 style="font-family: 'Roboto+Condensed', sans-serif;">Our Mission</h2>
                        <p style="font-family: 'Roboto+Condensed', sans-serif;">Create an enabling real estate
                            environment through initiating standards for pricing, costing
                            and
                            provision of real estate products coupled with effective execution of the services there
                            within
                            to the satisfaction of our clients</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--values-->
    <div class="values">
        <div class="container">
            <div class="row">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="assets/gallery/ER_Transparency_yellow.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"
                                style="text-align: center; color: maroon; font-family: 'Roboto+Condensed', sans-serif;">
                                Trust</h5>
                            <p class="card-text" style="font-family: 'Roboto+Condensed', sans-serif;">Our Clientele can
                                confide in us knowing that we shall always hold their
                                interests at heart.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="assets/gallery/efficiency2.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"
                                style="text-align: center; color: maroon; font-family: 'Roboto+Condensed', sans-serif;">
                                Efficiency</h5>
                            <p class="card-text" style="font-family: 'Roboto+Condensed', sans-serif;">We value ours' and
                                our clientele’s time and monies.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="assets/gallery/Notification-icon-Commons-logo.svg.png"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"
                                style="text-align: center; color: maroon; font-family: 'Roboto+Condensed', sans-serif;">
                                Simplicity</h5>
                            <p class="card-text" style="font-family: 'Roboto+Condensed', sans-serif;">Our work is never
                                done till it is understood and appreciated by the
                                client.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="assets/gallery/team+building+3.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"
                                style="text-align: center; color: maroon; font-family: 'Roboto+Condensed', sans-serif;">
                                Team Work</h5>
                            <p class="card-text" style="font-family: 'Roboto+Condensed', sans-serif;">We are “We” and we
                                never work alone. (Strongly denounce the I, She, He
                                Syndrome).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team-->
    <div class="team">
        <div class="container" style="background-color: maroon">

            <!-- Three columns of text below the carousel -->
            <div class="row pt-5">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="bsuimg/ceo.JPG" alt="Generic placeholder image" width="140"
                        height="140">
                    <h2>Bagya Paul</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh
                        ultricies
                        vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent
                        commodo
                        cursus
                        magna.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="bsuimg/brendah.JPG" alt="Generic placeholder image" width="140"
                        height="140">
                    <h2>Heading</h2>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                        Cras
                        mattis
                        consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                        condimentum nibh.
                    </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="bsuimg/akasumba.JPG" alt="Generic placeholder image" width="140"
                        height="140">
                    <h2>Heading</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id
                        ligula
                        porta
                        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                        ut
                        fermentum
                        massa justo sit amet risus.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div>
    </div>
    <app-footer></app-footer>
</section>