html{
    scroll-behavior: smooth;
}
.cover{
    background-image: url(gallery/surveying-and-geomatics-engineering-services.jpg) ;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh
}
.cover .container{
    padding-top: 15%
}
.services{
    height: 100vh;
}
.services img{
    border-radius:5px;
}
h1, h5{
    color: maroon;
    font-weight: bold
}
p{
    font-size:17px
}
.lacasa{
    height:100vh
}
.lacasa-container{
    padding-top: 6%;
}
.lacasa-content{
    border-radius: 5px;
    color:white;
    background-color: maroon;
    padding:15px;
}
.social{
    height:100vh
}
.social .long{
    margin-top: -19%
}
.social-content img{
    border-radius:5px
}
.social-content h2{
    color: maroon;
}