<section>
    <!--cover-->
    <div class="cover">
        <div class="container">
            <div class="offset-lg-6 col-lg-6 offset-xl-6 col-xl-6 offset-sm-1 col-sm-10 mt-lg-0"
                style="margin-top: 35%">
                <div class="message">
                    <app-message></app-message>
                </div>
            </div>
        </div>
    </div>
    <!--services-->
    <div class="services">
        <div class="container pt-5">
            <!--Surveying-->
            <div class="row pb-2">
                <div class="col-lg-3 col-md-4 d-none d-lg-block d-md-block">
                    <img src="assets/gallery/surveying.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h1 style="font-family: 'Roboto+Condensed', sans-serif;">Surveying</h1>
                    <p style="font-family: 'Roboto+Condensed', sans-serif;">Surveyors measure just about anything on the
                        land, in the sky or on the ocean bed. They even
                        measure polar ice-caps. Land surveyors work in the office and in the field – from suits to
                        boots.</p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal"
                        data-target="#surveying">Read More</button>

                    <!-- Modal -->
                    <div class="modal fade" id="surveying" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle"
                                        style="font-family: 'Roboto+Condensed', sans-serif;">Land Surveying</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p style="font-family: 'Roboto+Condensed', sans-serif;"> In the office, surveyors
                                        then use sophisticated software, such as auto-cad to
                                        draft plans and map the onsite measurements. Surveyors work on a diverse variety
                                        of projects from land subdivision and mining exploration, to tunnel building and
                                        major construction, which means no two days are the same. They are experts in
                                        determining land size and measurement. They also give advice and provide
                                        information to guide the work of engineers, architects and developers.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--valuation-->
            <div class="row pb-1">
                <div class="col-lg-3 col-md-4 d-none d-lg-block d-md-block">
                    <img src="assets/gallery/valuation.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h1 style="font-family: 'Roboto+Condensed', sans-serif;">Valuation</h1>
                    <p style="font-family: 'Roboto+Condensed', sans-serif;">
                        If you want a survey which provides information on the state of the property and its value on
                        the open market you need to arrange for a homebuyer and valuation report from a surveyor
                        registered with the Royal Institution of Chartered Surveyors
                    </p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal"
                        data-target="#valuation">Read More</button>

                    <!-- Modal -->
                    <div class="modal fade" id="valuation" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle"
                                        style="font-family: 'Roboto+Condensed', sans-serif;">Valuation Surveying</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p style="font-family: 'Roboto+Condensed', sans-serif;">
                                        If you want a survey which provides information on the state of the property and
                                        its value on the open market you need to arrange for a homebuyer and valuation
                                        report from a surveyor registered with the Royal Institution of Chartered
                                        Surveyors. For a very detailed analysis of the structure of the property and
                                        advice on dealing with possible structural defects you need to commission the
                                        more expensive building survey. This won't automatically include a valuation,
                                        but you can ask the surveyor to provide one. The valuation from a full survey
                                        will be more accurate than the lender's valuation because it looks at value on
                                        the open market and it will provide you with a better tool with which to
                                        negotiate on price.

                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--construction-->
            <div class="row pb-1">
                <div class="col-lg-3 col-md-4 d-none d-lg-block d-md-block">
                    <img src="assets/gallery/construction.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h1 style="font-family: 'Roboto+Condensed', sans-serif;">Construction</h1>
                    <p style="font-family: 'Roboto+Condensed', sans-serif;">
                        One of the major responsibilities of our construction manager is ensuring that a project is
                        being completed in accordance with safety codes. He or she will need to make sure that the
                        construction project is not violating any city ordinances.
                    </p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal"
                        data-target="#construction">Read More</button>

                    <!-- Modal -->
                    <div class="modal fade" id="construction" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle"
                                        style="font-family: 'Roboto+Condensed', sans-serif;">Construction</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p style="font-family: 'Roboto+Condensed', sans-serif;"> The lawyer may need to
                                        obtain a permit so that the construction manager can continue to pursue his or
                                        her construction project. A construction manager plays an important role in
                                        ensuring that construction projects go smoothly from start to finish. He or she
                                        will need to manage a group of construction workers and ensure that they are
                                        operating equipment in a safe manner. You should enjoy working on construction
                                        sites if you are thinking about becoming a construction manager. It is also
                                        essential that you understand how to keep a construction project under budget at
                                        all times.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--lacasa-->
    <div class="lacasa">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-sm-3">
                    <img src="assets/gallery/lacasa.jpg" class="img-fluid">
                </div>
                <div class="col-lg-4 col-sm-12 mt-sm-0 lacasa-container">
                    <div class="lacasa-content ml-lg-n5">
                        <h2 style="font-family: 'Roboto+Condensed', sans-serif;">
                            La' Casa
                        </h2>
                        <p style="font-family: 'Roboto+Condensed', sans-serif;">
                            La’casa is an affordable pan African Real Estate Developer focused on the bottom of the
                            pyramid in Africa. The company has its headquarters in Kampala, Uganda. La’casa was
                            established in 2017, by a group of social investors in order to put to reality low-income
                            housing models in Africa.The vision of La’casa is to enable ordinary Africans, most of whom
                            are active in the informal sector, to acquire a house within their financial means and raise
                            their families in a safe, clean and healthy environment. In so doing, La’casa achieves
                            social impact, environmental and financial returns.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Coperate Social Responsibility-->
    <div class="social">
        <div class="container">
            <div class="row">
                <!--image-->
                <div class="col-4 d-none d-lg-block">
                    <img src="assets/gallery/social.JPG" class="img-fluid long">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="social-content">
                        <h2 style="font-family: 'Roboto+Condensed', sans-serif;">Coperate Social Responsibility</h2>
                        <p style="font-family: 'Roboto+Condensed', sans-serif;">We also run a charity foundation started
                            to support the unfortunate from our hard work and
                            earnings. Many visits are made annually to express our concern for equity and development
                            amoungest the low income earning Ugandans. Every September we target families that have
                            fallen short and provide them with the little we can to sustain them and also build on their
                            ideas for improvement on their standard of living. We also give encouragement so they have a
                            reason not to feel worthless in this developing environment.
                        </p>
                        <div class="row">
                            <div class="col-6">
                                <img src="assets/gallery/charity1.JPG" class="img-fluid">
                            </div>
                            <div class="col-6">
                                <img src="assets/gallery/charity2.JPG" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</section>