<section>
    <div class="cover">
        <div class="container text-center">
            <div class="content col-12">
                <h2 class="display-4 pb-3" style="font-family: 'Roboto+Condensed', sans-serif;">Building Survey Uganda
                </h2>
                <p style="font-family: 'Roboto+Condensed', sans-serif;">Building Survey Uganda was founded by Paul Rossi
                    Baggya in January 2016 after the rebranding of the
                    formally Hectarage Partnership that had been in existence since 2011 offering the same services as a
                    real-estate development survey and valuation company and is located on Plot 881, Musajja Alumbwa
                    Road in
                    Kampala Uganda.</p>
            </div>
        </div>
    </div>
</section>